<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.Sql2008" connectionString="data source=.;initial catalog=SisoDbSpecs08;integrated security=SSPI;"/>
    <add name="SisoDb.Sql2008.Temp" connectionString="data source=.;initial catalog=SisoDbSpecs08Temp;integrated security=SSPI;"/>
    <add name="SisoDb.Sql2008.Async" connectionString="data source=.;initial catalog=SisoDbSpecs08;integrated security=SSPI;asynchronous processing=true;"/>

    <!-- computer specific -->
    <add name="yourcomputername_SisoDb.Sql2008" connectionString="data source=.;initial catalog=SisoDbSpecs08;integrated security=SSPI;"/>
    <add name="yourcomputername_SisoDb.Sql2008.Temp" connectionString="data source=.;initial catalog=SisoDbSpecs08Temp;integrated security=SSPI;"/>
    <add name="yourcomputername_SisoDb.Sql2008.Async" connectionString="data source=.;initial catalog=SisoDbSpecs08;integrated security=SSPI;asynchronous processing=true;"/>

    <!--
    <add name="SisoDb.Sql2008"
         connectionString="data source=pls-virtual\sqlexpress2008;initial catalog=SisoDbSpecs08;integrated security=SSPI;" />
    <add name="SisoDb.Sql2008.Temp"
         connectionString="data source=pls-virtual\sqlexpress2008;initial catalog=SisoDbSpecs08Temp;integrated security=SSPI;" />
    -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
