<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SisoDb.SqlProfiler" connectionString="data source=.;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;"/>
    <add name="SisoDb.SqlProfiler.Temp" connectionString="data source=.;initial catalog=SisoDbSpecsProfilerTemp;integrated security=SSPI;"/>
    <add name="SisoDb.SqlProfiler.Async" connectionString="data source=.;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;asynchronous processing=true;"/>

    <!-- computer specific -->
    <add name="yourcomputername_SisoDb.SqlProfiler" connectionString="data source=.;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;"/>
    <add name="yourcomputername_SisoDb.SqlProfiler.Temp" connectionString="data source=.;initial catalog=SisoDbSpecsProfilerTemp;integrated security=SSPI;"/>
    <add name="yourcomputername_SisoDb.SqlProfiler.Async" connectionString="data source=.;initial catalog=SisoDbSpecsProfiler;integrated security=SSPI;asynchronous processing=true;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
